<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">Aa123456</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Bike</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.default_schema">dbo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="com.cj.ebike.entity.ProductDetailsByImage" />
        <mapping class="com.cj.ebike.entity.Product" />
        <mapping class="com.cj.ebike.entity.ProductDetailsByProperty" />
        <mapping class="com.cj.ebike.entity.PropertyType" />
        <mapping class="com.cj.ebike.entity.UserList" />
        <mapping class="com.cj.ebike.entity.Menu" />
    </session-factory>
</hibernate-configuration>
